<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <style>
fieldset {
  background-color: #eeeeee;
}
input {
  margin: 5px;
}
</style>
</head>
<body style="background-color:lightblue;">
<h2 style="text-align:center;">Registration</h2>
    <form action="" method="post" style="margin: auto; width: 220px;">
        {% csrf_token %}
        <fieldset>
            <input type="text" name="username" placeholder="User Name"><br><br>
            <input type="text" name="first_name" placeholder="First Name"><br><br>
            <input type="text" name="last_name" placeholder="Last Name"><br><br>
            <input type="email" name="email" placeholder="Email"><br><br>
            <input type="password" name="password" placeholder="Password"><br><br>
            <input type="password" name="cpassword" placeholder="Confirm Password"><br><br>
            <input type="submit" value="SUBMIT">
        </fieldset>
    </form>

{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>